/* animated log with keyframes */
#logo{
    animation: logo 5s ;
}
@keyframes logo{
    0%{
        opacity: 0;
        width: 25px;
    }
    100%{
        opacity: 1;
        width: 475px;
    }
}

/* body element uses Poppins font with serif as a back up with background-image */
body{
    font-family: 'Poppins', serif; 
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

/* header items are centered and stacked */
header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* nav links are stacked */
.nav_links{
    display: flex;
    flex-direction: column;
}

/* links have same color even after they have been visited */
nav a:visited{
    color: blue; 
}

/* styles elements that are direction children of a card class */
.card > header{
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px 20px 0px; 
    border-radius: 50px 50px 0px 0px;
}

/* curves the top right and left corners */
.card{
    border-radius: 50px 50px 0px 0px;
}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 450px; 
}

.pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* styles images in the gallery class */
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/* modifies gallery class to use flex */
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 900px){
    /* modifies header tag to use flex */
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* modifies nav_links class to use flex */
    .nav_links{
        display: flex;
        flex-direction: row;
    } 

    /* modifies pricing class to use flex */
    .pricing{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* modifies card class to use flex */
    .card{
        display: flex;
        flex-basis: 275px;
    }

    /* ensures first header is visible at the top of the screen even as we scroll down */
    body > :nth-child(2) {
        top: 0;
        position: sticky;
        background: white;
    }
}

@media (prefers-reduced-motion: reduce) {
    /* makes the logo class not be animated */
    #logo{
        animation: none;
    }
}

@media print {
    /* changes the font and removes the background image */
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* uses flex properties to space the nav/nav_links elements */
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav{
        width: 100%;
    }

    /* uses flex to align elements along the bottom */
    .pricing{
        display: flex;
        flex-wrap: nowrap; 
        align-items: flex-end;
    }

    /* styles card elements */
    .card{
        border: 2px solid #45ADDD;
        display: flex;
        flex-basis: 325px;
    }

    /* makes the gallery invisible */
    #gallery, .gallery {
        display: none;
    }
   
    /* adds thumbs up entity as shown in the cards */
    .card li:nth-child(2)::after{
        content: "👍";
    }
}